<section class="main-section">
    <div class="row">
        <div class="card shadow">
            <div class="">
                <div class="button-align">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span>
                            <i class="bi bi-hourglass-top"></i>&nbsp;Screened
                        </span>
                        <span>100</span>
                    </button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span>
                            <i class="bi bi-people-fill"></i>&nbsp;ShortListed
                        </span>
                        <span>100</span>
                    </button><button type="button" class="btn btn-light" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <span>
                            <i class="bi bi-joystick"></i>&nbsp;Interviewed
                        </span>
                        <span>100</span>
                    </button><button type="button" class="btn btn-light" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <span>
                            <i class="bi bi-patch-check-fill"></i>&nbsp;Completed
                        </span>
                        <span>100</span>
                    </button>

                </div>
                <div class="abcd">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search Campaign Name" aria-label="Search"
                            aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary">search</button>
                    </div>
                    <select class="select" data-mdb-filter="true" class="w-50">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                        <option value="5">Five</option>
                        <option value="6">Six</option>
                        <option value="7">Seven</option>
                        <option value="8">Eight</option>
                        <option value="9">Nine</option>
                        <option value="10">Ten</option>
                    </select>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-funnel-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-light"><i class="bi bi-arrow-clockwise"></i></button>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">S No</th>
                        <th scope="col">Campaign ID</th>
                        <th scope="col">Campaign Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Relocation</th>
                        <th scope="col">KeySkills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>RPAG-17</td>
                        <td>RithwinVarghese - Appian</td>
                        <td>Need a Appian Developer</td>
                        <td>Relocation</td>
                        <td>KeySkills</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>