<!--  Request me for a signup form or any type of help  -->
<div class="login-form">
    <!-- <form action="/examples/actions/confirmation.php" method="post"> -->
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Reset Password</h4>
    <div class="form-group">
        <input [(ngModel)]="email" type="text" class="form-control" placeholder="Enter your email" required="required">
    </div>

    <input type="submit" (click)="reset()" class="btn btn-primary btn-block btn-lg" value="Submit">
    <!-- </form> -->
</div>