
<div class="button d-flex justify-content-evenly w-100">
        <button type="button" class="btn btn-primary ivrCalling">
            <i class="bi bi-telephone-fill"></i> IVR Calling</button>

            <button type="button" class="btn btn-secondary ivrCalling">
                <i class="bi bi-journals"></i>
                Online Form</button>
   
      
            <button type="button" class="btn btn-success ivrCalling">
                <i class="bi bi-wechat"></i>
                ChatBot </button>
</div>
<br>
<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
     <i class="bi bi-search"></i>
    </span>
  </div>

    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                    <th scope="col">jobid</th>
                    <th scope="col">jobtitle</th>
                    <th scope="col">jobdesc</th>
                    <th scope="col">skills</th>
                    <th scope="col">experience</th>
                    <th scope="col">ctc</th>
                    <th scope="col">location</th>
                    <th scope="col">joinperiod</th>
                    <th scope="col">status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
   
