section.form-section {
    width: 75%;
    margin: auto;
}

.heading {
    text-align: center;
    margin-left: 5rem;
    margin-top: 3rem;
}

#designation {
    width: 35%;
}

#experience {
    width: 35%;
}

.left-side {
    flex: 1 1 0%;
}