<section class="">
    <h2>We are Hiring</h2>
    <form action="">
        <div class="abcd">
            <div class="form-section">
                <mat-form-field>
                    <mat-label>Designation</mat-label>
                    <mat-select matNativeControl required>
                        <mat-option value="Angular Developer">Angular Developer</mat-option>
                        <mat-option value="UI/UX Developer">UI/UX Developer</mat-option>
                        <mat-option value="Appian Developer">Appian Developer</mat-option>
                        <mat-option value="Mendix Developer">Mendix Developer</mat-option>
                        <mat-option value="QA Engineer">QA Engineer</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Experience</mat-label>
                    <mat-select matNativeControl required>
                        <mat-option value="1-3">1-3</mat-option>
                        <mat-option value="3-5">3-5</mat-option>
                        <mat-option value="5-8">5-8</mat-option>
                        <mat-option value="8+">8+</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-label class="text">*Qualification</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">BTECH</mat-radio-button>
                    <mat-radio-button value="2">MTECH</mat-radio-button>
                    <mat-radio-button value="3">MCA</mat-radio-button>
                    <mat-radio-button value="4">MS</mat-radio-button>
                </mat-radio-group>
                <mat-label class="text">*Joining Period</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Immediately</mat-radio-button>
                    <mat-radio-button value="2">1 Month</mat-radio-button>
                    <mat-radio-button value="3">3 Month</mat-radio-button>
                </mat-radio-group>
                <mat-label class="text">*CTC Offered</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">3-5 LPA</mat-radio-button>
                    <mat-radio-button value="2">5-7 LPA</mat-radio-button>
                    <mat-radio-button value="3">7-10 LPA</mat-radio-button>
                    <mat-radio-button value="4">Negotiable</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-section">
                <mat-form-field>
                    <mat-label>*Skills Required</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>*Requirement</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>*Relocation Place</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-label class="text">*Work Shifts</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Day</mat-radio-button>
                    <mat-radio-button value="2">Night</mat-radio-button>
                </mat-radio-group>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="form-button">
            <button mat-raised-button color="primary">Submit</button>
            <button mat-raised-button color="warn">Cancel</button>
        </div>
    </form>
</section>