<section>
    <form action="" class="card shadow">
            <div class="row main">
                <div class="col-4">
                    <label class="form-label"><sup>*</sup>Firstname</label>
                    <input type="text" class="form-control shadow-sm">
                </div>
                <div class="col-4">
                    <label class="form-label"><sup>*</sup>Middlename</label>
                    <input type="text" class="form-control shadow-sm">
                </div>
                <div class="col-4">
                    <label class="form-label"><sup>*</sup>Lastname</label>
                    <input type="text" class="form-control shadow-sm">
                </div>
            </div>
            <div class="row">
                <label for="" class="form-label"><sup>*</sup>Address</label>
                <div class="col-6">
                    <input type="text" class="form-control shadow-sm">
                </div>
                <div class="col-6">
                    <input type="text" class="form-control shadow-sm">
                </div>
            </div>
            <div class="row">
                
            </div>
    </form>
</section>