<section class=" main">
    <div class="form">
        <form action="">
            <h2 class="text-center">Employment Application</h2>
        <div class="header-small">
            <div class="sub-heading">
                <h4>Personal Information:</h4>
            </div>
            <div class="row">
                <h5 class="py-2">Full Name</h5>
                <mat-form-field class="col-4">
                    <input matInput class="input-styles" type="text" required/>
                    <mat-label class="form-label">First Name</mat-label>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput class="input-styles" type="text" required/>
                    <mat-label class="form-label">Middle Name</mat-label>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput class="input-styles" name="last-name" type="text" required/>
                    <mat-label class="form-label">Last Name</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="adress">
            <div class="address-grid">
                <div class="address-section">
                    Address
                </div>
                <div class="abcd">
                    <mat-form-field>
                        <input matInput class="input-styles" type="text" required>
                        <mat-label for="">Street Address</mat-label>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="input-styles" type="text" required>
                        <mat-label for="">Street Address</mat-label>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="input-styles" type="text" required>
                        <mat-label for="">Street Address</mat-label>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="input-styles" type="text" required>
                        <mat-label for="">Street Address</mat-label>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="input-styles" type="text" required>
                        <mat-label for="">Street Address</mat-label>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="">Street Address</mat-label>
                        <mat-select >
                            <mat-option value="1">One</mat-option>
                            <mat-option value="2">One</mat-option>
                            <mat-option value="3">One</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="contact-grid">
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput class="input-styles" type="text" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput class="input-styles" type="text" />
                <mat-hint>example@example.com</mat-hint>
            </mat-form-field>
        </div>
        <div class="dob-grid">
            <mat-form-field appearance="fill">
                <mat-label>D.O.B</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option">
                <mat-label class="text">Are You Citizen?</mat-label>
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
        </div>
        
        <div class="header-small">
            <div class="sub-heading">
                <h4>Employment Desired :</h4>
            </div>
        </div>
        <div class="education-grid">
            <mat-form-field class="">
                <mat-label>Highest Degree</mat-label>
                <input matInput type="text" />
                <mat-hint>Name of High School Attended</mat-hint>
            </mat-form-field>
            <mat-form-field class="">
                <mat-label>Number of Years Attended</mat-label>
                <input matInput type="text" />
            </mat-form-field>
        </div>

        <div class="education-grid">
            <mat-form-field>
                <mat-label class="form-label d-block">Area of Study/Degree</mat-label>
                <input matInput class="input-styles" type="text" />
                <mat-hint>Name of High School Attended</mat-hint>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option">
                <mat-label class="text">Graduated?</mat-label>
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- <div style="text-align:center">
          <p>Upload Video Resume</p>
          <video class="video" #liveVideo autoplay controls></video>
          <span class="m-1"></span>
          <video class="video" style="width:480px !important;" controls #recordedVideo></video>
          <br>
          <button class="btn btn-success btn-lg" *ngIf="!isRecording" (click)="startVideoRecording()">Start Recording</button>
          <button class="btn btn-warning btn-lg" *ngIf="isRecording" (click)="stopVideoRecording()">Stop Recording</button>
        </div> -->
        <div class="header-small">
            <div class="sub-heading">
                <h4>Current Employement :</h4>
            </div>
        </div>
        <div class="employement-grid">
            <mat-form-field>
                <mat-label>Current Employer</mat-label>
                <input matInput type="text" />
                <mat-hint>If Current Employer or none if not Employed</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Position</mat-label>
                <input matInput type="text" />
            </mat-form-field>
        </div>
        <div class="employement-grid">
            <mat-form-field>
                <mat-label>Previous Salary ($):</mat-label>
                <input matInput type="text" />
                <!-- <small>Name of Current Employer or NONE if not Employed</small> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Reason for Leaving?</mat-label>
                <input matInput type="text" />
            </mat-form-field>
        </div>
        <div class="employement-grid">
            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
        </div>

        <div class="header-small">
            <div class="sub-heading">
                <h4>References:</h4>
            </div>
        </div>
        <div class="references-grid">
            <mat-form-field>
                <mat-label>Reference Name</mat-label>
                <input matInput type="text"/>
                <!-- <small>Name of Current Employer or NONE if not Employed</small> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Relationship</mat-label>
                <input matInput type="text"/>
            </mat-form-field>
        </div>

        <div class="references-grid">
            <mat-form-field>
                <mat-label>Years Acquainted</mat-label>
                <input matInput type="text" />
                <!-- <small>Name of Current Employer or NONE if not Employed</small> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput type="tel" placeholder="(000)000-0000"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput type="text"/>
                <mat-hint>example@example.com</mat-hint>
            </mat-form-field>
        </div>
       
        <div class="header-small">
            <div class="sub-heading">
                <h4>Resume:</h4>
            </div>
        </div>

        <div class="resume-grid">
            <div class="col pe-0">
                Resume:
                <input type="file" class="mx-1">
            </div>
        </div>
        <br>
        <div class="header-small">
            <div class="sub-heading">
                <h4>Send Application:</h4>
            </div>
        </div>
        <p>
            By clicking the submit button below, I cerity that all of the information provided by me on this application
            is
            true and complete, and I understand that if any false information, ommissions, or misrepresentations are
            discovered, my application may be rejected and, if I am employed, my employement may be terminated at any
            time.

            In consideration of my employment, I agree to conform to the company's rules and regulations, and I agree
            that my
            employment and compenstation can be terminated, with or without cause, and with or without notice, at any
            time, at
            either my or the company's option.

            I also understand and agree that the terms and conditions of my employment may be changed, with or without
            cause,
            and with or without notice, at any time by the company.
        </p>
        <div class="row">
            <div class="col pe-0">
                <b> Upload your Signature:</b>
                <input type="file" class="mx-2">
            </div>
        </div>
        <div class="row">
            <div class="col pe-0">
                <mat-label>Date:</mat-label>
                <input matInput type="date" class="mx-2">
            </div>
        </div>

        <div class="header-small">
            <div class="sub-heading">
                <!-- <h4>References:</h4> -->
            </div>
        </div>
        </form>
        
        <div class="text-center pb-2">
            <button mat-raised-button color="primary">submit</button>
        </div>
    </div>


</section>