.card{
    width: 50%;
    margin: auto;
    background-color: #f3f3fe;
    border:none;
    padding: 10px;
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


