@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
.log-out {
    /* text-decoration: none; */
    list-style: none;
    /* color: white; */
}

.logout_text {
    text-align: end;
    color: white;
    margin-top: -26px;
}
