<!--  Request me for a signup form or any type of help  -->
<div class="login-form">
    <!-- <form action="/examples/actions/confirmation.php" method="post"> -->
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Register Your Account</h4>
    <div class="form-group">
        <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username" required="required">
    </div>
    <div class="form-group">
        <input [(ngModel)]="email" type="text" class="form-control" placeholder="Email" required="required">
    </div>
    <div for="cars" class="form-group">
        <!-- <input [(ngModel)]="type" type="text" class="form-control" placeholder="Type" required="required"> -->


        <!-- <label class="formControl">Type:</label> -->
        <select [(ngModel)]="type" id="type" required>
            <option value="Recruiter">Recruiter</option>
            <option value="Interviewer">Interviewer</option>
        </select>
    </div>



    <div class="form-group">
        <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group">
        <input [(ngModel)]="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
            required="required">
    </div>
    <!-- <div class="form-group small clearfix">
        <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
        <a href="#" class="forgot-link">Forgot Password?</a>
    </div> -->
    <input type="submit" class="btn btn-primary btn-block btn-lg" (click)="register()" value="Sign Up">
    <!-- </form> -->
    <div class="text-center small">Already Registered? <a routerLink="/login">Sign In</a></div>
</div>